<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Panou principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Panou principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="logo" style="background-color: blue"></div>
    <div class="consumables" style="background-color: green"></div>
    <div class="documents" style="background-color: red"></div>
  </div>
</ion-content>
