<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Panou principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <button (click)="getIcs()">TEST</button>

  <div id="container">
    <div class="title-container">
      <div class="logo">
      </div>
      <div class="title">
        Agenda auto
      </div>
    </div>
    <div class="items-card ion-padding" (click)="navigateToConsumables()">
      <div class="items-card-title ion-text-center">CONSUMABILE</div>
      <div class="items-card-subtitle">Consumabile care expira curand</div>
      <div class="items-card-container">
          <div class="item" *ngFor="let consumable of (consumables$ | async)">
            <div class="left"><ion-icon class="alarm-icon" name="alarm"></ion-icon> {{ consumable.type | consumableTypeToken | transloco }}</div>
            <div class="right">{{ consumable.expirationDate| dateFormat : 'd.M.y' }}</div>
          </div>
      </div>
    </div>
    <div class="items-card ion-padding" (click)="navigateToDocuments()">
      <div class="items-card-title ion-text-center">DOCUMENTE</div>
      <div class="items-card-subtitle">Documente care expira curand</div>
      <div class="items-card-container">
          <div class="item" *ngFor="let document of (documents$ | async)">
            <div class="left"><ion-icon class="alarm-icon" name="alarm"></ion-icon>{{ document.type | documentTypeToken | transloco }}</div>
            <div class="right">{{ document.expirationDate| dateFormat : 'd.M.y' }}</div>
          </div>
      </div>
    </div>
  </div>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="tertiary" (click)="navigateToAddConsumable()"><ion-icon name="construct"></ion-icon></ion-fab-button>
      <ion-fab-button color="tertiary" (click)="navigateToAddDocument()"><ion-icon name="document"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
