ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 32px;
  flex: 4;
  flex-wrap: wrap;
  width: 50%;
  min-width: 320px;
  margin: 0 auto;

  .title-container {
    flex: 0 0 20%;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      background-image: url(/assets/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 120px;
      height: 120px;
    }

    .title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .consumables {
    flex: 0 0 30%;
    align-self: stretch;
  }

  .documents {
    background-color: var(--ion-card-background);
    border-radius: 4px;
    flex: 0 0 30%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 0px;

    .documents-title {
      font-size: 20px;
      font-weight: 500;
    }

    .documents-subtitle {
      color: #f6c792;
      font-size: 14px;
      margin-left: 4px;
    }

    .documents-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 4px 0px;
      overflow-y: auto;

      .document {
        display: flex;
        flex-direction: row;
        height: 24px;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
      }
    }
  }
}
