<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Panou principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="title-container">
      <div class="logo">
      </div>
      <div class="title">
        Agenda auto
      </div>
    </div>
    <div class="consumables"></div>
    <div class="documents ion-padding">
      <div class="documents-title ion-text-center">DOCUMENTE</div>
      <div class="documents-subtitle">Documente care expira curand</div>
      <div class="documents-container">
        <div class="document" *ngFor="let document of (documents$ | async)">
          <div>RCA</div>
          <div>{{ document.expirationDate| dateFormat : 'd.M.y' }}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
