ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-document {
    display: flex;
    flex-direction: column;
    background-color: var(--ion-card-background);
    align-items: stretch;
    max-width: 700px;
    width: 90%;
    gap: 8px;
    position: relative;

    .delete-icon {
      position: absolute;
      right: 8px;
      top: 8px;
      font-size: 20px;
      z-index: 1;
    }
  }

  .progress-bar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }

  .progress-bar {
    height: 18px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid var(--ion-color-success);
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .filled {
      position: absolute;
      left: 0px;
      height: 100%;
      top: 0px;
      border-radius: 10px;
      background-color: var(--ion-color-success);
    }

    .progress-bar-text {
      color: black;
      font-weight: bold;
      font-size: 12px;
      z-index: 1;
    }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header {
  background-color: var(--ion-toolbar-background);

  .header-next-events {
    display: flex;
    flex-direction: column;

    .header-document {
      display: flex;
      flex-direction: row;
      height: 24px;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;

      .left {
        gap: 4px;
        display: flex;
        align-items: center;
      }
    }
  }

  .alarm-icon {
    color: var(--ion-color-tertiary);
  }
}
