<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Documente</ion-title>
  </ion-toolbar>

  <div class="ion-padding header-next-events">
    <ion-text color="tertiary"> Urmatoarele evenimente</ion-text>
    <div class="header-document" *ngFor="let document of (documents$ | async) | slice: 0:3">
      <div class="left"><ion-icon class="alarm-icon" name="alarm"></ion-icon>{{document.type }}</div>
      <div class="right">{{ document.expirationDate| dateFormat : 'd.M.y' }}</div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Documents</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="container-document ion-padding ion-margin" *ngFor="let document of (documents$ | async)">
      <ion-icon class="delete-icon" name="trash" color="danger" (click)="deleteDocument(document.id)"></ion-icon>
      <div class="ion-text-center">{{ document.type}}</div>
      <div class="progress-bar-header">
        <div class="date">{{ document.beginDate | dateFormat : 'd.M.y'}}</div>
        <div class="date">{{ document.expirationDate | dateFormat : 'd.M.y'}}</div>
      </div>
      <div class="progress-bar ion-margin-bottom">
        <div class="filled" [style.width.%]="document.percentagePassed"></div>
        <div class="progress-bar-text ion-text-center">{{ document.daysRemaining}} zile ramase</div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToAddDocument()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
